<div class="sidebar">

    <a href="{% url 'portal_paciente' %}">
        <span class="material-symbols-outlined">home</span>
        <span class="text">Inicio</span>
    </a>

    <!-- TURNOS -->
    <a data-bs-toggle="collapse" href="#submenuTurnos">
        <span class="material-symbols-outlined">calendar_month</span>
        <span class="text">Turnos</span>
        <span class="material-symbols-outlined">chevron_right</span>
    </a>
    <div class="collapse submenu" id="submenuTurnos">
        <a href="{% url 'turnos:solicitar_turno' %}"><span class="material-symbols-outlined">add_circle</span><span class="text">Reservar turno</span></a>
        <a href="{% url 'turnos:mis_turnos' %}"><span class="material-symbols-outlined">event_available</span><span class="text">Mis turnos agendados</span></a>
        <a href="{% url 'turnos:historial_turnos' %}"><span class="material-symbols-outlined">history</span><span class="text">Historial de turnos</span></a>
    </div>

    <a href="#"><span class="material-symbols-outlined">biotech</span><span class="text">Estudios</span></a>

    <!-- CONTROLES -->
    <a data-bs-toggle="collapse" href="#submenuControles">
        <span class="material-symbols-outlined">monitor_heart</span>
        <span class="text">Controles</span>
        <span class="material-symbols-outlined">chevron_right</span>
    </a>
    <div class="collapse submenu" id="submenuControles">
        <a href="#"><span class="material-symbols-outlined">task_alt</span><span class="text">Indicaciones</span></a>
        <a href="#"><span class="material-symbols-outlined">straighten</span><span class="text">Peso y altura</span></a>
        <a href="#"><span class="material-symbols-outlined">device_thermostat</span><span class="text">Temperatura</span></a>
        <a href="#"><span class="material-symbols-outlined">favorite</span><span class="text">Frecuencia cardiaca</span></a>
        <a href="#"><span class="material-symbols-outlined">blood_pressure</span><span class="text">Presión arterial</span></a>
        <a href="#"><span class="material-symbols-outlined">glucose</span><span class="text">Glucemia</span></a>
        <a href="#"><span class="material-symbols-outlined">air</span><span class="text">Frecuencia respiratoria</span></a>
        <a href="#"><span class="material-symbols-outlined">opacity</span><span class="text">Saturación de oxígeno</span></a>
        <a href="#"><span class="material-symbols-outlined">airwave</span><span class="text">Disnea</span></a>
    </div>

    <a href="#"><span class="material-symbols-outlined">medication</span><span class="text">Medicamentos</span></a>
    <a href="#"><span class="material-symbols-outlined">forum</span><span class="text">Comunidades</span></a>
    <a href="#"><span class="material-symbols-outlined">medical_services</span><span class="text">Médicos</span></a>
    <a href="#"><span class="material-symbols-outlined">call</span><span class="text">Teleconsultas</span></a>
    <a href="#"><span class="material-symbols-outlined">book</span><span class="text">Mi Diario</span></a>

    <hr class="text-white">

    <a href="#"><span class="material-symbols-outlined">shield_person</span><span class="text">Mi Cobertura</span></a>
    <a href="#"><span class="material-symbols-outlined">menu_book</span><span class="text">Cartilla Médica</span></a>

    <!-- AMENITIES -->
    <a data-bs-toggle="collapse" href="#submenuAmenities">
        <span class="material-symbols-outlined">grade</span>
        <span class="text">Amenities</span>
        <span class="material-symbols-outlined">chevron_right</span>
    </a>
    <div class="collapse submenu" id="submenuAmenities">
        <a href="#"><span class="material-symbols-outlined">fitness_center</span><span class="text">Gimnasio</span></a>
        <a href="#"><span class="material-symbols-outlined">nutrition</span><span class="text">Nutrición</span></a>
        <a href="#"><span class="material-symbols-outlined">self_improvement</span><span class="text">Talleres de salud</span></a>
    </div>
</div>
