{% extends 'base.html' %}
{% load static %}

{% block title %}{{ amenity.nombre }}{% endblock %}

{% block content %}
<div class="amenity-content">

    <!-- IMAGEN -->
    {% block amenity_image %}
    {% endblock %}

    <!-- TÍTULO -->
    <h2 class="fw-bold mt-3">{{ amenity.nombre }}</h2>

    <!-- DESCRIPCIÓN -->
    {% if amenity.descripcion %}
        <p class="text-muted">{{ amenity.descripcion }}</p>
    {% endif %}

    <hr>

    <h4 class="mt-3">Beneficios disponibles</h4>

    <div class="row mt-3 g-3">
        {% for b in beneficios %}
        <div class="col-md-6">

            <div class="card h-100 shadow-sm position-relative
                {% if beneficio_otorgado and beneficio_otorgado.beneficio.id == b.id %}
                    card-beneficio-obtenido
                {% endif %}
            ">
                {% if beneficio_otorgado and beneficio_otorgado.beneficio.id == b.id %}
                <span class="badge bg-success position-absolute top-0 end-0 m-2">
                    Obtenido
                </span>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ b.titulo }}</h5>
                    <p class="card-text">{{ b.descripcion }}</p>
                </div>
            </div>

        </div>
        {% empty %}
            <p>No hay beneficios activos actualmente.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
