{% extends "base.html" %}

{% block title %}Nutrición{% endblock %}

{% block content %}
<h2 class="mb-4">Nutrición y Alimentación Saludable</h2>

<div class="card p-4 shadow-sm">
    <img src="/static/amenities/nutricion.jpeg" class="img-fluid rounded" style="max-width: 750px; height: auto;">
    <p class="amenity-text mt-3">
        En el área de nutrición encontrarás asesoramiento personalizado, recomendaciones
        alimentarias y talleres sobre hábitos saludables.
    </p>
</div>
{% endblock %}
