{% extends "base.html" %}
{% block title %}Solicitar Turno{% endblock %}

{% block content %}
<h3 class="mb-4">Solicitar Turno</h3>

<form method="post">
    {% csrf_token %}

    <label class="form-label">Servicio</label>
    <select name="servicio" class="form-select" required>
        <option>Clínica Médica</option>
        <option>Cardiología</option>
        <option>Nutrición</option>
        <option>Odontología</option>
    </select>

    <label class="form-label mt-3">Profesional</label>
    <input type="text" name="profesional" class="form-control" required>

    <label class="form-label mt-3">Fecha</label>
    <input type="date" name="fecha" class="form-control" required>

    <label class="form-label mt-3">Hora</label>
    <input type="time" name="hora" class="form-control" required>

    <label class="form-label mt-3">Piso</label>
    <input type="text" name="piso" class="form-control" required>

    <button class="btn btn-primary mt-4">Reservar Turno</button>
</form>

{% endblock %}
