{% extends "base.html" %}
{% block title %}Frecuencia Respiratoria{% endblock %}

{% block content %}
<div class="container py-3">
    <h2 class="mb-3">
        <span class="material-symbols-outlined align-middle">air</span>
        Frecuencia Respiratoria
    </h2>

    <div class="card shadow-sm p-4">
        <p class="lead">Respiraciones por minuto.</p>

        <img src="https://cdn-icons-png.flaticon.com/512/2927/2927500.png"
             style="max-width:140px;">
    </div>
</div>
{% endblock %}
