{% extends "base.html" %}
{% block title %}Frecuencia Cardíaca{% endblock %}

{% block content %}
<div class="container py-3">

    <h2 class="mb-3">
        <span class="material-symbols-outlined align-middle">favorite</span>
        Frecuencia Cardíaca
    </h2>

    <div class="card shadow-sm p-4">
        <p class="lead">Registro de pulsaciones por minuto.</p>
        <img src="https://cdn-icons-png.flaticon.com/512/992/992700.png"
             style="max-width:180px;">
    </div>

</div>
{% endblock %}
