{% extends "base.html" %}
{% block title %}Presión Arterial{% endblock %}

{% block content %}
<div class="container py-3">

    <h2 class="mb-3">
        <span class="material-symbols-outlined align-middle">blood_pressure</span>
        Presión Arterial
    </h2>

    <div class="card shadow-sm p-4">
        <p class="lead">Mediciones de sistólica / diastólica.</p>

        <img src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png"
             style="max-width:160px;">
    </div>

</div>
{% endblock %}
